.table_sale {
  position:relative;
  width:100%;
}

.th {
  border: 2px solid gray;
  font-family: "Times New Roman", Times, serif;
  height:30px;
  font-size: 13px;
  font-weight: bold;
  text-align:center;
  color:gray;
  vertical-align: middle;
  background:lightgray;
}

.order_line {
  position:relative;
  border: 2px solid gray;
}

.td {
  border-right-style: solid;
  border-left-style: solid;
  border-color: gray;
  border-width: 2px;
  font-family: "Times New Roman", Times, serif;
  height:30px;
  font-size: 13px;
  font-weight: normal;
  color:gray;
  vertical-align: middle;
}
