.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #521751;
  height: 30px;
}

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar__logo {
  margin-left: 1rem;
}

.toolbar__logo p {
  font-size: 12px;
  color: white;
  display: inline-block;
  margin-left: 20px;
  padding-top: 10%;
  font-weight: bold;
}

.toolbar__logo img {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.toolbar__logout {
  position:relative;
  left:1150px;
  width: 20px;
  height: 20px;
}

.toolbar__logout a{
  font-size: 12px;
  color: white;
  font-weight: bold;
}

.spacer {
  flex: 1;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation-items li {
  padding: 0 0.5rem;
}

.toolbar_navigation-items a {
  color: white;
  text-decoration: none;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  color: #fa923f;
}


